<div *ngIf="player" fxLayout="row"  fxLayoutGap="5px"  [style.margin-top]="'12px'">
<!--<div *ngIf="player" fxFlexLayout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'">-->
<!--<div *ngIf="player" layout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'">-->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{player.firstName}} {{player.secondName}}</mat-card-title>
      <mat-card-subtitle>{{player.team?.name}} - {{player.playerType?.pluralName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src="https://platform-static-files.s3.amazonaws.com/premierleague/photos/players/110x140/p{{player.photo}}"
         alt={{player.firstName}} class="image-size">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
    <mat-card class="list-conten-padding">
      <mat-list >
        <mat-list-item class="list-header-background"> Total points </mat-list-item>
        <mat-list-item> {{player.totalPoints}} </mat-list-item>

        <mat-list-item class="list-header-background"><b> Per game</b> </mat-list-item>
        <mat-list-item> {{player.averagePoints}} </mat-list-item>

        <mat-list-item class="list-header-background"> <b>Scored </b></mat-list-item>
        <mat-list-item> {{player.goalsScored}}</mat-list-item>

        <mat-list-item class="list-header-background">  <b>Clean sheets </b></mat-list-item>
        <mat-list-item> {{player.cleanSheets}}</mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card>
      <div class="mat-body-2">Ressources</div>
      <mat-list>
        <mat-list-item>
          <div matLine>
            Sandbox TypeScript :
            <button mat-button
                    (click)="playground.click()">Playground</button>
            <a #playground href="http://www.typescriptlang.org/play/" target="_blank" [style.display]="'none'">TS Playground</a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>
            Documentation :
            <button mat-button
                    (click)="documentation.click()">TS Doc</button>
            <a #documentation href="http://www.typescriptlang.org/docs/home.html" target="_blank" [style.display]="'none'">TS Doc</a>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>
</div>
