
.mat-list-item {
  height: auto;
}

.list-header-background {
  font-weight: 700;
  background-color: #3b5eaa;
  margin-top: 2px;
  margin-bottom: 5px;
}

.list-conten-padding {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.image-size {
  height: auto;
  width: auto;
  display: block
}

.my-grid-tile .mat-figure {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mat-figure > figure {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.example-card {
  padding-bottom: 0px;
}

.example-card1 {
  width: 504px;
  mim-width: 400px;
  max-width: 504px;

  height: 265px;
  min-height: 200px;
  max-height: 265px;

}
