<div *ngIf="player">

  <div *ngIf="player.news">
    <mat-list-item> {{player.news}}</mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row">
    <div fxLayoutGap="5px" [style.margin-top]="'12px'" [style.margin-left]="'5px'">
      <div fxLayout="row" [style.display]="'block'" fxLayoutGap="5px" style="display:block">
        <mat-card class="example-card" style="display:block">
          <mat-card-content style="display:block">
            <div fxLayout="row" style="display: block">
              <div style="display:block">
                <img mat-card-image
                     src="https://platform-static-files.s3.amazonaws.com/premierleague/photos/players/110x140/p{{player.photo}}"
                     alt={{player.firstName}} class="image-size">
              </div>
              <div style="display:block">
                <mat-list style="display:block">
                  <mat-list-item>{{player.firstName}} {{player.secondName}}</mat-list-item>
                  <mat-list-item>{{player.playerType?.pluralName}}</mat-list-item>
                  <mat-list-item>{{player.team?.name}}</mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" [style.margin-top]="'12px'">
        <mat-card class="list-conten-padding">
          <mat-list>
            <mat-list-item class="list-header-background">Total points</mat-list-item>
            <mat-list-item> {{player.totalPoints}}</mat-list-item>
            <mat-list-item class="list-header-background">Per game</mat-list-item>
            <mat-list-item> {{player.averagePoints}}</mat-list-item>
          </mat-list>
        </mat-card>
        <mat-card class="list-conten-padding">
          <mat-list>
            <mat-list-item class="list-header-background">Scored</mat-list-item>
            <mat-list-item> {{player.goalsScored}}</mat-list-item>
            <mat-list-item class="list-header-background">Assists</mat-list-item>
            <mat-list-item> {{player.assists}}</mat-list-item>
          </mat-list>
        </mat-card>
        <mat-card class="list-conten-padding">
          <mat-list>
            <mat-list-item class="list-header-background">Influence</mat-list-item>
            <mat-list-item> {{player.influence}}</mat-list-item>
            <mat-list-item class="list-header-background">Creativity</mat-list-item>
            <mat-list-item> {{player.creativity}}</mat-list-item>
            <mat-list-item class="list-header-background">Threat</mat-list-item>
            <mat-list-item> {{player.threat}}</mat-list-item>
          </mat-list>
        </mat-card>
        <mat-card class="list-conten-padding">
          <mat-list>
            <mat-list-item class="list-header-background">Clean sheets</mat-list-item>
            <mat-list-item> {{player.cleanSheets}}</mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>
    <div fxLayoutGap="5px" [style.margin-top]="'12px'">
      <mat-card class="example-card1">
        <mat-card-content class="example-card1">
          <canvas baseChart
                  [data]="barChartData"
                  [datasets]="barChartDataSet"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="'line'"
                  [colors]="lineChartColors"
                  style="display: block; width: 100%; height: 100%;">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
