<div *ngIf="player">
  <mat-card class="example-card">
    <mat-card-content>
      <mat-grid-list cols="9" rowHeight="50px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="1">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="6" class="my-grid-tile">
          <img mat-card-image
               src="https://platform-static-files.s3.amazonaws.com/premierleague/photos/players/110x140/p{{player.photo}}"
               alt={{player.firstName}} class="image-size">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{player.firstName}} {{player.secondName}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{player.team?.name}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{player.playerType?.pluralName}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-card-header>
            <mat-card-title>Total points</mat-card-title>
            <mat-card-subtitle>{{player.totalPoints}}</mat-card-subtitle>
          </mat-card-header>
          <!--<h2 class="mat-h3">Total points:</h2>-->
          <!--<h2 class="mat-h3">{{player.totalPoints}}</h2>-->
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-card-header>

            <mat-card-title>Per game</mat-card-title>
            <mat-card-subtitle>{{player.averagePoints}}</mat-card-subtitle>
          </mat-card-header>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-card-header>

            <mat-card-title>Scored</mat-card-title>
            <mat-card-subtitle>{{player.goalsScored}}</mat-card-subtitle>
          </mat-card-header>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-card-header>

            <mat-card-title>Clean sheets</mat-card-title>
            <mat-card-subtitle>{{player.cleanSheets}}</mat-card-subtitle>
          </mat-card-header>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--2_1-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--3-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--3_1-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--4-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--4_1-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--5-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--5_1-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--6-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--6_1-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--7-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--7_1-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--8-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--8_1-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile [colspan]="2" [rowspan]="1">-->
  <!--9-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
  <!--9_1-->
  <!--</mat-grid-tile>-->


  <!--<mat-card  >-->
  <!--<mat-card-header>-->
  <!--<div mat-card-avatar ></div>-->
  <!--<mat-card-title>Shiba Inu</mat-card-title>-->
  <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <!--<img mat-card-image src="https://platform-static-files.s3.amazonaws.com/premierleague/photos/players/110x140/p{{player.photo}}" alt={{player.firstName}} class="image-size">-->

  <!--<mat-card-content>-->
  <!--<p>-->
  <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
  <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
  <!--bred for hunting.-->
  <!--</p>-->
  <!--</mat-card-content>-->
  <!--</mat-card>-->

  <!--<h2>{{player.firstName | uppercase}} Details</h2>-->
  <!--<div>-->
  <!--<span>id: </span>{{player.id}}-->
  <!--<li *ngFor="let history of playerHistory">-->
  <!--<span class="badge">{{history.totalPoints}} - {{history.kickoffTime| date : "dd.MM.y"}}</span>-->
  <!--</li>-->
  <!--</div>-->
</div>
